.form-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.form-container form {
    max-width: 80%;
    background-color: #F7F7F7;
    box-shadow: 1px 0px 19px rgba(0, 0, 0, 25%);
    border-radius: 1.25rem;
    padding: .5rem 6.25rem;

}

.form-container form h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #212121;
    margin: 1.5rem 0;
}