.field {
    margin: 1.5rem 0;
    font-family: "Montserrat", "sans-serif";
}

.field label {
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
}

.field input {
    width: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 1.5rem;
    outline-color: #6278f7;
    font-size: 1rem;
    box-sizing: border-box;
}

.field-color input {
    height: 3rem;
    padding: .3rem 1.3rem;
}

@media screen and (max-width: 768px) {
    .field label {
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }

    .field input {
        padding: 1rem;
        font-size: 0.875rem;
    }

    .field-color input {
        height: 2.5rem;
        padding: 0.25rem 1rem;
    }
}